body
{
	background-color: rgb(236, 238, 241);
}


#matchaTitle
{
	width: 200px;
	margin: auto;
	font-size: 1.7em;
	color: rgb(141, 144, 150);
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#successDiv
{
	width: 60%;
	margin: auto;
	height: 50px;
	background-color: rgb(223, 239, 217);
	border-radius: 3px;
	font-size: 1.3em;
	display: flex;
	align-items: center;
}

#successText
{
	color: green;
}

#errorDiv
{
	width: 60%;
	margin: auto;
	height: 50px;
	background-color: rgb(255, 145, 121);
	border-radius: 3px;
	font-size: 1.3em;
	display: flex;
	align-items: center;
}

#errorText
{
	color: red;
}

#valid_icon
{
	width: 30px;
	margin-left: 15px;
}

#verticalBarSuccess
{
	height: 20px;
	border-right: 1px solid green;
	margin-right: 10px;
	margin-left: 10px;
}

#error_icon
{
	width: 30px;
	margin-left: 15px;
}

#verticalBarError
{
	height: 20px;
	border-right: 1px solid red;
	margin-right: 10px;
	margin-left: 10px;
}

#retour_accueil_bouton
{
	border: 1px solid rgb(199, 199, 199);
	background-color: white;
	margin: auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 30px;
}

#home_icon
{
	width: 17px;
	margin-right: 3px;
}

a
{
	text-decoration: none;
	color: black;
}
