<!DOCTYPE html>
<html>
<head>
	<title>confirm</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/confirm.css">
</head>
<body>

<div id="matchaTitle">MATCHA</div>

<%if (typeof success !== 'undefined' && success) {%><div id="successDiv"><img src="img/iconeValidation.png" id="valid_icon"><div id="verticalBarSuccess"></div><p id="successText"><%- success %></p></div><%}%>
<%if (typeof error !== 'undefined' && error) {%><div id="errorDiv"><img src="img/redCrossIcon.png" id="error_icon"><div id="verticalBarError"></div><p id="errorText"><%- error %></p></div><%}%>
<a href="#"><div id="retour_accueil_bouton"><img src="img/home_icon.png" id="home_icon"> <p>Accueil</p></div></a>



</body>
</html>