<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Matcha</title>
</head>
<body>

<h1>Bonjour <% if (typeof login !== 'undefined' && login) { %><%= login %><%}%> et bienvenue sur matcha</h1>
<p>salut <% if (locals.log) { %><%= locals.log %><%}%></p>


</body>
</html>