<!DOCTYPE html>
<html>
<head>
	<title>Matcha</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/signup.css">
</head>
<body>

<div id="topRightDiv">
</div>
<div id="matchaTitle"><a href="/" style="text-decoration: none; color: rgb(141, 144, 150);">MATCHA</a></div>
<div id="divContainer">
	<h3>Get a new password</h3>
	<div id="divForm">
		<form method="post" action="/resetPass">
			<div class="form-group"><label for="email">Adresse email</label><input type="email" name="email" id="email" class="form-control"></div>
			<p class="error"><% if (locals.flash && locals.flash.noMail) { %><%= flash.noMail%><%}%></p>
			<button type="submit" class="btn btn-primary">Reset password</button>
			<p class="success"><% if (locals.flash && locals.flash.success) { %><%= flash.success%><%}%></p>
		</form>
	</div>
</div>

</body>
</html>