body
{
	background-image: url("/img/match.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	height: 100vh;
}

#topBar
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
}

#sign
{
	display: flex;
}

#sign a
{
	text-decoration: none;
	color: white;
}

#matchaName
{
	margin-left: 0px;
	font-size: 2em;
	color: white;
}

#match_icon
{
	width: 60px;
}

.whiteFont
{
	color: white;
	width: 100px;
}

#link1
{
	margin-right: 30px;
}

#link2
{
	margin-right: 25px;
	background-color: rgb(247, 139, 36);
	text-align: center;
	border-radius: 3px;
}

.lock_icon
{
	width: 20px;
	margin-bottom: 2px;
}

#infoMatch
{
	width: 100%;
	margin: auto;
	text-align: center;
	color: white;
}

#infoMatch h1
{
	font-size: 5em;
}

@media (max-width: 640px) {

	#infoMatch h1
	{
		margin-top: 100px;
		font-size: 3em;
	}

	.whiteFont
	{
			width: 80px;
	}

	#matchaName
	{
		font-size: 1.5em;
	}



}
