#blackBanner
{
	height: 110px;
	background-color: rgb(1, 16, 44);
	display: flex;
	justify-content: center;
	align-items: center;
}

#blackBanner h1
{
	color: white;
}

#blueBanner
{
	background-color: rgb(22, 79, 159);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#containerNav
{
	display: flex;
}

#loginWelcome
{
	color: white;
	margin-left: 15px;
	font-size: 1.3em;
	margin-top: 8px;
	font-family: "arial";

}

.topnav {
    background-color: #333;
    overflow: hidden;
    background-color: rgb(22, 79, 159);

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(251, 189, 8);
    color: black;
}

.topnavBis a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavBis a:hover {
    background-color: red;
}


/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(252, 25, 104);
    color: white;
}

#bodyContainer
{
	width: 70%;
	margin: auto;
	margin-top: 30px;

}

#filterSortContainer
{
    display: flex;
    justify-content: space-around;
}

#bodyContainer h1
{
	color: rgb(22, 79, 159);
	margin: auto;
	text-align: center;
}


#filterContainer
{
    width: 50%;
}

#sortContainer
{
    width: 40%;

}

.divFilters
{
    margin-top: 30px;
}


label
{
    color: grey;
}


input
{
    color: rgb(251, 189, 8);
}


.spanDiv
{
    padding: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
		background-color: rgb(251, 189, 8);

}

.link:hover
{
    cursor: pointer;
}

#greyLine
{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    /*margin-bottom: 30px;*/
}

#suggestionsDiv
{
}


.error
{
    color: red;
    font-size: 0.8em;
    font-style: italic;
    width: 50%;
    text-align: center;
    margin: auto;
}




#footer
{
    position: fixed;
    bottom: 0px;
    background-color: rgb(22, 79, 159);
    height: 80px;
    width: 100%;
    color: white;
    margin-top: 30px;
}

.text {
  color: white;
  font-size: 25px;
}

.suggestionsUserDiv:hover .overlay {
  opacity: 1;
}

.text:hover
{
    cursor: pointer;
}

.bubble
{
    width: 4vw;
    height: 7vh;
    border-radius: 50%;
}

.report:hover
{
    cursor: pointer;
    text-decoration: underline;
}



















.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*width: 200px;*/
    /*height: 500px;*/
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.name_user {
	font-size: 1.3em;
	margin-top: 15px;
	margin-left: 15px;
	font-family: 'impact';
	text-align: center;
}

@media screen and (max-width: 640px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
		.name_user {
			font-size: 0.5em;
		}
		.modal-content {
			font-size: 0.6em;
			width: 100%;
		}
}
