body
{
	background-color: rgb(236, 238, 241);
}

#topRightDiv
{
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 12px;
}

#topRightDiv p
{
	font-size: 0.7em;
	margin-right: 10px;
	color: rgb(76, 76, 76);
}

#topRightDiv button
{
	width: 100px;
	height: 40px;
	background-color: rgb(18, 121, 194);
}

#signInLabel
{
	font-size: 0.8em;
	margin: auto;
}

#matchaTitle
{
	width: 200px;
	margin: auto;
	font-size: 1.7em;
	color: rgb(141, 144, 150);
	text-align: center;
}

#divContainer
{
	margin: auto;
	border: 1px solid rgb(199, 199, 199);;
	background-color: white;
	width: 370px;
	margin-top: 150px;
}

#divContainer h3
{
	width: 200px;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: rgb(76, 76, 76);
}

#divForm
{
	width: 300px;
	background-color: white;
	margin: auto;
}
#divForm input
{
	height: 2em;
	border-radius: 1px;
}
#divForm label
{
	font-size: 0.9em;
	color: rgb(76, 76, 76);
}

#divForm button
{
	width: 300px;
	background-color: rgb(18, 121, 194);
	margin: auto;
	margin-top: 15px;
	margin-bottom: 30px;
}

.lock_icon
{
	width: 20px;
	margin-bottom: 2px;
	margin-right: 3px;
}

.error
{
	color: red;
	font-size: 0.8em;
	font-style: italic;
}

.success
{
	color: green;
	font-size: 0.8em;
	font-style: italic;
}






